{:paths ["src" "dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:mvn/version "0.18.1158"}
        org.mentat/emmy {:mvn/version "0.32.0"}
        org.mentat/emmy-viewers {:mvn/version "0.3.2"}}
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     ;; Renderer source matching Clerk 0.18.1158.
     :git/sha "a46ea503eb71a63c85006807928a9eea52d7d07a"
     :deps/root "render"}}
   :exec-fn user/build!
   :exec_args {
               :paths ["notebooks/nwestallen"]
               }}}}
